* {
    padding: 0;
    margin: 0;
}

h1 {
    background-color: black;
    color: white;
    height: 60px;
    padding-top: 20px;

}

nav {
    background-color: slategray;

}

body {
    text-align: center;
    width: 600px;
    height: 400px;
}

.text-color {
    background-color: black;
    color: white;
}

.text-padding {
    padding-top: 50px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
}