.div1 {
    display: flex;
    margin-top: 10px;
    margin-left: 100px;

}

.div2 {
    display: flex;
    gap: 150px;
    margin-left: 250px;
    font-size: 20px;
    margin-top: 10px;
}

.div-10 {
    display: flex;
}

.div-11 {
    margin-left: 250px;

}

a {
    text-decoration: none;
    color: #756969;
}

.btsignup {

    border-radius: 20px;
    border-color: rgba(245, 56, 85, 1);
    padding: 13px 50px 13px 50px;
    background-color: white;
    color: red;
    font-size: 20px;

}

.divicon {
    color: red;
    font-size: 35px;
}

.div4 {
    color: black;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

.img1 {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly
}

.btgs {
    padding: 20px 80px 20px 80px;
    border-radius: 10px;
    background-color: rgba(245, 56, 56, 1);
    border: none;
    color: white;
    margin-top: 40px;
    font-size: 20px;
}

.space-text {
    font-size: 25px;
}

.space-img {
    margin-left: 200px;
}

.user {
    display: flex;
}

.icon-user {
    font-size: 25px;
    background-color:
        rgba(255, 236, 236, 1);
    color: rgba(245, 56, 56, 1);
    padding: 25px 25px 25px 25px;
    border-radius: 100%;
}

.icon-setting {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    margin-top: 200px;

}

.ic-check {
    background-color: rgba(47, 171, 115, 1);
    color: white;
    border-radius: 100%;
}

.setting-d3 {
    display: flex;
    justify-content: space-around;
}

.p-setting {
    margin-top: 100px;
    font-size: 20px;
}

.text-decore {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}

.icon-check {
    color: rgba(47, 171, 115, 1);
    margin-right: 25px;
}

.bt-select {
    padding: 10px 60px 10px 60px;
    border-radius: 10px;
    font-size: 15px;
    border-color: rgba(245, 56, 56, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(245, 56, 56, 1);
}

.box-1 {
    width: 330px;
    height: 760px;
    top: 1776.55px;
    left: 175px;
    border: solid 2px rgba(221, 221, 221, 1);
    border-radius: 10px;
    text-align: center;

}

.bt-select2 {
    padding: 12px 60px 12px 60px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgba(245, 56, 56, 1);
    color: white;
    border: none;
}

.box-2 {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-left: 400px;

}

.text-world {
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}

.img-world {
    width: 1060px;
    height: 537.77px;
    margin-top: 150px;
    margin-left: 450px;
}

.img-app {
    margin-top: 50px;
    margin-left: 400px;
}

.text-10 {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.img-avatar {
    border-radius: 100%;
}

.boder-1 {
    border: solid 2px rgba(221, 221, 221, 1);
    width: 400px;
    height: 230px;
    border-radius: 10px;
}

.img-comment {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-left: 300px;

}

.icon-arrow {
    border: solid 2px rgba(245, 56, 56, 1);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding-left: 30px;
    font-size: 30px;
    align-items: center;
    display: flex;
    color: red;
}

.icon-right {
    border: solid 2px rgba(245, 56, 56, 1);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding-left: 30px;
    font-size: 30px;
    align-items: center;
    display: flex;
    background-color: rgba(245, 56, 56, 1);
    color: white;
}

.icon-gap {
    display: flex;
    gap: 25px;
}

.setting-flex {
    display: flex;
    gap: 60%;
    margin-top: 100px;
    margin-left: 200px;
}

.bt-sub {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: rgba(245, 56, 56, 1);
    color: white;
    font-size: 18px;
    margin-top: 50px;
}

.flex-sub {
    display: flex;
    margin-top: 60px;
    gap: 400px;
    margin-left: 500px;
    font-size: 25px;
}


.icon-3 {
    display: flex;
    gap: 20px;


}

.icon-radius {
    width: 33.6px;
    height: 33.6px;
    top: 4953.58px;
    left: 203.6px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(245, 56, 56, 1);
    border: solid 2px rgba(255, 255, 255, 1);
    font-size: 25px;
}

.text-colum {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-align2 {
    display: flex;
    gap: 100px;
    margin-left: 250px;

}

.text-align3 {
    display: flex;
    margin-top: 50px;
}