table {
    text-align: center;
    border-spacing: 0px;
    width: 800px;
    height: 400px;
}

.td {
    background-color: #dfe8e8;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 100px;
}